target/
project/target/
*.p12
.ensime*
*.swp
.idea
/bin/

# sbt specific
.cache
.cache*
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# eclipse specific git ignore
*.pydevproject
.project
.metadata
bin/**
**/bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath
